<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> PIG Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="./style.css" />
</head>

<body>
    <div class="main-parent">
        <div class="card">
            <div class="player-1 active">
                <p>this is first half <span class="dot"></span></p>
            </div>
            <div class="player-2 ">
                <p>this is second half</p>
            </div>

            <div>
                <p>New Game</p>
            </div>
        </div>
    </div>
    <script src="../controller/app.js"></script>
</body>

</html>